@font-face {
  font-family: 'VT323';
  src: url('/assets/VT323-Regular.ttf') format('truetype');
}

body {
  width: 100vw;
  padding: 4em;
  background: #2A333E;
  height: 100vh;
  color: #A7E4AE;
  font-family: 'VT323';
}

a, button {
  color: #A7E4AE;
  text-decoration: none;
  outline: none;
  border-style: hidden;
  background: #2A333E;
}

a:hover,
a:active,
button:hover,
button:active,
button:focus {
  background: #A7E4AE;
  color: #2A333E !important;
  border-style: hidden;
  outline: none;
}

/*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
*/